/*body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
*/ body {
    font-size: 14px;
    background: #eeeeee;
    color: #333333;
    width: 520px;
    margin: 0 auto;
}

#registration {
    background: #fff;
    padding: 20px;
    margin-bottom: 40px;
}

    #registration h1 {
        font-size: 36px;
        text-align: center;
    }

    #registration input[type="text"] {
        width: 466px;
        font-size: 24px;
        line-height: 1.4em;
        padding: 6px;
    }

#main {
    display: none;
}

#clear-completed {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}

    #attendee-list li {
        padding: 18px 20px 18px 0;
        position: relative;
        font-size: 24px;
        border-bottom: 1px solid #cccccc;
    }

        #attendee-list li:last-child {
            border-bottom: none;
        }

        #attendee-list li .edit {
            display: none;
        }

        #attendee-list li.editing {
            border-bottom: 1px solid #778899;
        }

            #attendee-list li.editing .view {
                display: none;
            }

            #attendee-list li.editing .edit {
                display: block;
                width: 444px;
                padding: 13px 15px 14px 20px;
                margin: 0;
            }

        #attendee-list li.done label {
            color: #777777;
            text-decoration: line-through;
        }


#attendee-list .destroy {
    position: absolute;
    right: 5px;
    top: 20px;
    display: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

#registration footer {
    display: none;
    margin: 0 -20px -20px -20px;
    overflow: hidden;
    color: #555555;
    background: #f4fce8;
    border-top: 1px solid #ededed;
    padding: 0 20px;
    line-height: 37px;
}

.attendee-count {
    float: left;
}

    .attendee-count .count {
        font-weight: bold;
    }

#clear-completed {
    float: right;
    line-height: 20px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.1);
    color: #555555;
    font-size: 11px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 0 10px 1px;
    cursor: pointer;
}
